body{
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.configurator {
  position: absolute;
  top: 5vh;
  right: 5vh;
  z-index: 1;
  background-color: white;
  padding: 5vh;
  border-radius: 8px;
  border: 4px solid #f8e503;
  height: 80vh;
}

.settings{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

select{
  font-family: 'Montserrat', sans-serif;
}

.setting {
  display: flex;
  flex-direction: column;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.arial {
  font-family: 'Arial', sans-serif;
}

.times-new-roman {
  font-family: 'Times New Roman', serif;
} 